soap-service/src/main/resources/hello.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soapservice.com/example"
           targetNamespace="http://soapservice.com/example" elementFormDefault="qualified">

    <xs:element name="sayHelloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sayHelloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>